// !START SEO
meta(name="description" content="Free delivery on millions of products. Low prices about anything.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="Buy IT")
meta(property="og:description" content="Free delivery on millions of products. Low prices about anything.")
meta(property="og:image" content="https://eissa.xyz/buy-it/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/buy-it")
meta(property="og:site_name" content="Buy IT")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Buy IT")
meta(name="twitter:description" content="Free delivery on millions of products. Low prices about anything.")
meta(name="twitter:image" content="https://eissa.xyz/buy-it/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/buy-it" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
