// lan
$direction: 'en';
$floatLeft: left;
$floatRight:right;
$textLeft:left;
$textRight:right;

// *colors
// generic
$white:#fff;
$black:#303030;
$border:#e6e6e6;

// text
$mainText:#2a2a2a;
$subText:#8a8a8a;

// bg
$Green: #b2dd4c;
$Gray: #f5f5f5;

// font
$font: 'Raleway',
Helvetica,
Arial,
sans-serif;

// other
$radius:3px;
$shadow:rgba(0, 9, 128, .05);